@import url(../css/variables.css);
		
table {
    border-collapse: collapse;
    margin: 20px 0;
    width: 100%;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
table th {
    background-color: #f2f2f2;
}
button {
    background-color: var(--main-color);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
}
button:hover {
    background-color: var(--main-color);
}